ctags/
wandb/
own_ds/
backup/
dataset/
resources/own_ds_infer/
resources/saved_metric/
resources/saved_models/
resources/saved_predictions/

*.tmp
*.bak

__pycache__/
run_output.txt
cleaned_output.txt

